cached-property==1.5.2
certifi==2021.5.30
cffi @ file:///opt/concourse/worker/volumes/live/ca3c0fea-9d0f-4489-6889-89b42078ed37/volume/cffi_1613246931142/work
chardet==4.0.0
cycler==0.10.0
Cython==0.29.23
cython-bbox==0.1.3
easydict==1.9
h5py==3.3.0
idna==2.10
jsonpatch==1.32
jsonpointer==2.1
kiwisolver @ file:///opt/concourse/worker/volumes/live/1e6d28e8-da14-4365-7344-567a05db7efc/volume/kiwisolver_1612282399491/work
m3u8downloader==0.10.0
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-base_1594091703837/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
munkres==1.1.4
natsort==7.0.1
numpy @ file:///opt/concourse/worker/volumes/live/40d975a3-7e82-44c8-53df-feccdbce8b96/volume/numpy_and_numpy_base_1596233859108/work
olefile==0.46
opencv-python==4.5.2.54
Pillow @ file:///opt/concourse/worker/volumes/live/28f094e1-d4b0-436d-6751-607fa59ce512/volume/pillow_1602788716788/work
protobuf==4.0.0rc2
pycocotools==2.0.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
pyzmq==22.1.0
requests==2.25.1
scipy @ file:///opt/concourse/worker/volumes/live/9698578f-91da-4d5f-6fce-b26b1f42eb5a/volume/scipy_1597686637948/work
six==1.15.0
tensorboardX==2.4
terminaltables==3.1.0
timm==0.1.20
torch @ file:///opt/concourse/worker/volumes/live/11e8f1df-b219-4bb1-5397-3a9589bb82c1/volume/pytorch_1614404301885/work
torchfile==0.1.0
torchvision @ file:///opt/concourse/worker/volumes/live/4f5a83ed-467a-4726-57b4-f7cdab6bb897/volume/torchvision_1622219705983/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094698292/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1623518955413/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1624965014186/work
urllib3==1.26.6
visdom==0.1.8.9
websocket-client==1.1.0
wells==1.5.0
